<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel='stylesheet' href="{% static 'checkers_app/CSS/board.css' %}" type='text/css' />
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<div id="board">
  <div class="row">
    <div id="07" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="17" class= "icon"> <img  src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="27" class= "icon"> <img  src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="37" class= "icon"> <img  src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="47" class= "icon"> <img  src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="57" class= "icon"> <img  src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="67" class= "icon"> <img  src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="77" class= "icon"> <img  src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
  </div>
  <div class="row">
    <div id="06" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="16" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="26" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="36" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="46" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="56" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="66" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="76" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
  </div>
  <div class="row">
    <div id="05" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="15" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="25" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="35" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="45" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="55" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="65" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="75" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
  </div>
  <div class="row">
    <div id="04" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="14" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="24" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="34" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="44" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="54" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="64" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="74" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
  </div>
  <div class="row">
    <div id="03" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="13" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="23" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="33" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="43" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="53" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="63" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="73" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
  </div>
  <div class="row">
    <div id="02" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="12" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="22" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="32" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="42" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="52" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="62" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="72" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
  </div>
  <div class="row">
    <div id="01" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="11" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="21" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="31" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="41" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="51" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="61" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="71" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
  </div>
  <div class="row">
    <div id="00" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="10" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="20" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="30" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="40" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="50" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
    <div id="60" class= "icon"> <img src="{% static 'checkers_app/images/Red Square.png' %}" alt="" /> </div>
    <div id="70" class= "icon"> <img src="{% static 'checkers_app/images/white.square.gif' %}" alt="" /> </div>
  </div>

</div>










  </body>
  <script src="{% static 'checkers_app/checkersBoard.js' %}"></script>
</html>
