
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="background">
        <main>

<!-- <h2>Yay this is where you get games!</h2>
          <form action="/new_game/" method="POST">
            {% csrf_token %}
            <button id="newgame"> newgame</button>
           <!-- First name: <input type="text" name="fname"><br>
           Last name: <input type="text" name="lname"><br>
           <button type="submit">Submit</button><br>
           <button type="submit" formaction="demo_admin.asp">Submit as admin</button> -->
         </form>


            <!-- <button id="newgame"> newgame</button>
            <button id="joinexistinggame"> join existing game</button> -->
 -->

</main>
</div>

    ​

  </body>
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
<script src="{% static 'checkers_app/game.js' %}">
</html>
